#IDEs

Win32/
debug/
release/
x64/
.vscode/
.vs/
.idea/
cmake-build-*/

*.sln
*.pro.user
*.qmake.stash
*.vcxproj.*
*.vcxproj


#Build Products
Makefile
OpenBurn
*.o
moc_*.cpp
ui_*.h

#OpenBurn Files
*.obm
