#IDEs
.vscode/
.vs/
.idea/

#VS
*.sln
*.vcxproj.*
*.vcxproj

#Qt Creator
*.user

#Build Products
Makefile
OpenBurn
*.o
moc_*.cpp
ui_*.h

cmake-build-*/
OpenBurn_autogen
OpenBurn.dir
build
Win32/
debug/
release/
x64/

#OpenBurn Files
*.obm
*.eng