#IDEs
.vscode/
.vs/
.idea/


*.sln
*.pro.user
*.qmake.stash
*.vcxproj.*
*.vcxproj


#Build Products
Makefile
OpenBurn
*.o
moc_*.cpp
ui_*.h

cmake-build-*/
OpenBurn_autogen
OpenBurn.dir
build
Win32/
debug/
release/
x64/

#OpenBurn Files
*.obm
*.eng